/* Container styles */
.cijobs {
    padding: 20px;
    background-color: #f4f4f4; /* Background color */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a card-like effect */
  }
  
  /* Search container styles */
  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: #fff; /* Background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
  }
  
  /* Input styles */
  .search-container input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    background-color: transparent; /* Transparent background */
  }
  
  /* Icon styles */
  .search-icon {
    font-size: 20px;
    margin-left: 8px;
    color: #333; /* Icon color */
  }
  
  /* Placeholder color */
  .search-container input[type="text"]::placeholder {
    color: #aaa; /* Placeholder text color */
  }
  
  /* Focus styles */
  .search-container input[type="text"]:focus {
    border: 1px solid #007bff; /* Border color when focused */
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.5); /* Box shadow when focused */
  }
  
  /* Table styles */
  .table-container {
    background-color: #fff; /* Background color */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
  }
                 
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  
   .maincijob .table-container th, td {
    padding: 12px 15px;
    text-align: left;
  
  }
  
  /* Pagination button styles */
  .pagination-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
   /* GRafana Styles */

.grafana{
  margin-top: 2rem;
  text-align: center;
  
  font-size: 40px;
}
.grafana-btn1{
  margin-top: 2rem;
  margin-left: 3.5rem;
  background-color: #333c46;
  border: 1px solid grey;
}
.grafana-logs{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  padding: 40px;
  
}
.grafana-btn2{
  
  margin-top: 2rem;
  background-color: #333c46;
  border: 1px solid grey;
}
.grafana-inp{
  margin-left: 3.5px;
  height: 5vh;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
}
.grafana-card{
  margin: 0.5rem;
  padding: 10px;
  border: 1px solid rgb(119, 44, 44,0.8);
  justify-content: space-between;
  border-radius: 6px;
}
.grafana-inp1{
  margin-left: 2rem;
  height: 5vh;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
}