.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.social-icons {
  margin-bottom: 15px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #fff;
}

.social-icon:hover {
  color: #00acee;
}

a {
  text-decoration: none;
}

a:hover {
  color: #00acee;
}

img{
  height: 80px;
}