* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.cijob,
.contact-us,
.history,
.testing{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.cijob{
  background-color: rgb(204, 218, 86);
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-color: blue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.history {
  background-color: rgb(212, 52, 212);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.testing{
  background-color: rgb(236, 97, 72);
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


/* Deployment.css */
.deployments-page {
  padding: 35px;
}

.deployment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.deployment-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: 20px;
}

.deployment-icon {
  margin-right: 10px;
}

.new-deployment {
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  margin-right: 50px;
  color:  #9c448f;
}

.plus-icon {
  margin-left: 10px;
}

.deployments {
  font-size: 24px;
  margin-top: 50px;
}
.paragraph {
  margin-bottom: 17px;
}
.deployment-btn{
  margin-top: 40px;
}
.deployment-btn button{
  padding: 5px 30px 5px 30px;
  color: #fff;
  background: linear-gradient(to right, #E30045, #9c448f);
  border-radius: 8px;
  border: none;
  padding:10px 30px 10px 30px;
}
.deployment-content {
  padding: 20px; 
  background-color: white; 
  box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1); 
}

 .github-page {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.github-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.github-icon {
  font-size: 2rem;
  margin-right: 10px;
  margin-top: 10px;
}

.github-title {
  font-size: 25px;
  margin-top: 10px;
}

.github-form {
  margin-bottom: 20px;
}

.formgroup {
  margin-bottom: 10px;
}

label {
  display: inline-block;
}

input {
  width: 100%;
  padding: 5px 0px;
  background-color: #ccc;
  border: 1px solid #f5f0f0;
  border-radius: 3px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.button-group button {
  padding: 10px 10px;
  margin-right: 10px;
  font-size: 12px;
  border: none;
  border-radius: 7px;
}

.auth-icon,
.save-icon,
.delete-icon,
.test-icon,
.share-icon {
  margin-right: 5px;
}

.authorize-button {
  background-color: #4caf50;
  color: white;
}

.save-button {
  background-color: #ccc;
  color: black;
}

.delete-button {
  background-color: #c21515;
  color: #fff;
}

.test-connection-button,
.share-button {
  background-color: #ccc;
  color: black;
}
